DATABASE_URL="postgresql://johndoe:password@localhost:5432/db?schema=public"
TEST_DATABASE_URL="postgresql://johndoe:password@localhost:5432/test_db?schema=public"
NODE_ENV=dev
PORT=3000
ORIGINS="https://client.com,https://client2.com"