.container {
    display: grid;
    grid-template-rows: 49px 1fr 42px;
    padding: 12px var(--inline-space);
    flex-grow: 1;
}

.container h1 {
    border-bottom: 1px solid gray;
}

.messageContainer {
    padding: 12px;
    flex-grow: 1;
    max-height: 75vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message {
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    margin-left: auto;
    max-width: 75%;
    padding: 12px;
    border-radius: 12px 12px 0px 12px;
}

.otherMsg {
    background-color: rgb(217, 217, 217);
    color: black;
    border-radius: 12px 12px 12px 0px;
    margin-left: 0;
}

.inputContainer {
    position: relative;
}

.inputContainer form {
    display: flex;
    padding-top: 8px;
}

.inputContainer input {
    flex-grow: 1;
}

.loading {
    composes: loading from "../GenericStyles.module.css";
    margin: auto;
}

.error {
    composes: errorText from "../GenericStyles.module.css";
}