.loading {
    composes: loading from "../GenericStyles.module.css";
}

.infoContainer {
    composes: infoContainer from "../GenericStyles.module.css";
}

.pageText {
    composes: pageText from "../GenericStyles.module.css";
}

.container {
    padding: var(--inline-space);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.msgBtn,
.editBtn {
    composes: button from "../GenericStyles.module.css";
}

.editBtn {
    height: fit-content;
    border: 1px solid var(--main-color);
}

button.editBtn:hover {
    --color: var(--main-color);
}

a:has(.msgBtn) {
    margin: auto;
}

button.msgBtn {
    --bg-color: var(--main-color);
    --color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 24px;
    padding-inline: 32px;
}

button.msgBtn:hover {
    --bg-color: white;
    --color: rgb(65, 132, 238);
}

.nameDescBtn {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-inline: 16px;
}

.nameDesc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.group:has(h1) > *:first-child {
    margin-bottom: -1.2rem;
}

.nameDesc input,
.group {
    font-size: 1.3rem;
}

.group h1 {
    font-size: 2.8rem;
}

.nameDesc label,
.group > *:first-child {
    margin-bottom: -0.25rem;
    font-size: 0.85rem;
    font-weight: 800;
    font-family: ropa-sans, Arial, Helvetica, sans-serif;
    color: gray;
}

@media screen and (max-width: 600px) {
    .nameDescBtn {
        flex-direction: column;
        gap: 24px;
    }

    .nameDescBtn > *{
        width: 100%;
    }
}