div:has(> .button) {
    min-width: fit-content;
    display: flex;
    justify-content: center;
}

.button {
    composes: button from "../GenericStyles.module.css";
    height: fit-content
}

.button:first-of-type {
    margin-right: 12px;
}

.button:first-of-type:hover {
    --bg-color: white;
    --color: rgb(131, 25, 25);
}

.button:last-of-type:hover {
    --bg-color: white;
    --color: rgb(42, 117, 42);
}

.container {
    composes: nameDescBtn from "./Profile.module.css";
}

.container div:has(> div > input) {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container > div:has(label) {
    flex-grow: 1;
    width: 100%;
}

.container div:has(> label) {
    display: flex;
    flex-direction: column;
    gap:4px;
}

.error {
    composes: errorText from "../GenericStyles.module.css"
}