/* .content from PageContainer.module.css */
div:has(> .container) { 
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 12px var(--inline-space);
}

.container h1 {
    border-bottom: 1px solid gray;
}

.messageContainer {
    padding: 12px;
    display: flex;
    flex-grow: 1;
    max-height: 512px;

    overflow-y: scroll;
    flex-direction: column;
    gap: 12px;
}

.message {
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    margin-left: auto;
    max-width: 75%;
    padding: 12px;
    border-radius: 12px 12px 0px 12px;
}

.message > div {
    font-size: 0.75rem;
    opacity: 0.75;
}

.otherMsg {
    background-color: rgb(217, 217, 217);
    color: black;
    border-radius: 12px 12px 12px 0px;
    margin-left: 0;
}

.otherMsgName {
    font-size: 0.85rem;
    font-weight: 600;
}

.inputContainer form {
    display: flex;
    padding-top: 8px;
}

.inputContainer input {
    flex-grow: 1;
}

.loading {
    composes: loading from "../GenericStyles.module.css";
    margin: auto;
}

.error {
    composes: errorText from "../GenericStyles.module.css";
}

@media screen and (min-width: 700px) {
    .messageContainer {
        max-height: 632px;
    }
}