/* put generic styles on top since it causes some bugs for
Login.module.css for some reason */
.error {
    composes: errorText from "../GenericStyles.module.css";
}

.button {
    composes: button from "../GenericStyles.module.css";
    --color: rgb(24, 125, 98) !important;
    --bg-color: rgb(198, 227, 219) !important;
    font-weight: 600;
    margin-left: auto;
    margin-block: 8px;
}

.registerContainer {
    composes: loginContainer from "./Login.module.css";
}

.form {
    composes: form from "./Login.module.css";
}

.inputLabel {
    composes: inputLabel from "./Login.module.css";
}

.button:hover {
    --bg-color: white !important;
}