.error {
    composes: errorText from "../GenericStyles.module.css";
}

.button {
    composes: button from "../GenericStyles.module.css";
}

button.button {
    --color: rgb(24, 125, 98);
    --bg-color: rgb(198, 227, 219);
    font-weight: 600;
    margin-left: auto;
    margin-block: 8px;
}

.registerContainer {
    composes: loginContainer from "./Login.module.css";
}

.form {
    composes: form from "./Login.module.css";
}

.inputLabel {
    composes: inputLabel from "./Login.module.css";
}

button.button:hover {
    --bg-color: white;
}